@import 'variables';
@import 'now-ui-kit/variables';

.row {
  margin-bottom: 30px;
  .banner & {
    margin-bottom: 0;
  }
}

h2,
.h2 {
  font-size: 2em;
}

.bg-primary {
  background-color: $primary-color !important;
}

.navbar-light {
  .navbar-brand,
  .navbar-toggler {
    color: #fff;
    border-color: #fff;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-nav {
    .nav-link,
    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active,
    .nav-link:focus {
      color: #fff;
    }
    .nav-link:hover {
      color: #ddd;
    }
  }
}

.list-group-item.active {
  background-color: #f8f9fa;
  color: #111;
  border-color: $light-blue;
}
